/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

body {
  background-color: #e7f0dc;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TRIANGLES */
.triangle-fixed {
  position: fixed;
  top: -23%;
  left: -20%;
  z-index: 0;
  pointer-events: none;
}

.triangle-light-green,
.triangle-green {
  --r: 120px;
  aspect-ratio: 1 / cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) bottom var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(
        from -30deg at 50% calc(200% - 3 * var(--r) / 2),
        #000 60deg,
        #0000 0
      )
      0 100%/100% calc(100% - 3 * var(--r) / 2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2 * var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at left var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-light-green {
  width: 880px;
  background: #4e653d;
  position: relative;
  left: 20%;
  top: 33%;
  margin-left: -23%;
  margin-top: -3%;
  transform: rotate(-15deg);
  animation: slideinLeft 1s ease-in-out forwards;
}

@keyframes slideinLeft {
  from {
    opacity: 0.2;
    transform: translateX(-150px) rotate(-15deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

.triangle-green {
  width: 870px;
  background: #354c2b;
  position: absolute;
  left: 23%;
  top: 20%;
  margin-left: -25%;
  margin-top: -16%;
  transform: rotate(-15deg);
  animation: slideinLeft2 1s ease-in-out forwards;
}

@keyframes slideinLeft2 {
  from {
    opacity: 0.2;
    transform: translateX(-180px) rotate(-15deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

/* IMAGE */
img {
  height: 500px;
  width: 500px;
  position: fixed;
  top: 12%;
  left: 13%;
  z-index: 1;
  animation: slideinLeftImage 1s ease-in-out forwards;
}
@keyframes slideinLeftImage {
  from {
    opacity: 0.2;
    transform: translateX(-180px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SIGNUP CONTAINER */
.signup-container {
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 470px;
  background-color: #f2f4ec;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 3% 3%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 2;
  /* ANIMATION */
}

.signup-hiwalay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 6%;
  text-align: left;
}

.signup-separation {
  display: grid;
  gap: 30px;
  margin-top: 5%;
  margin-left: 30px;
}

.signup-title {
  font-size: 28px;
  color: #354c2b;
  font-weight: 700;
  text-align: center;
  animation-name: slideinTopTitle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinTopTitle {
  from {
    opacity: 0.2;
    transform: translateY(85px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-paragraph {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #354c2b;
  animation-name: slideinTopTitle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinTopTitle {
  from {
    opacity: 0.2;
    transform: translateY(92px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 15px;
  color: #354c2b;
  font-weight: 550;
  animation-name: slideinTopTitle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinTopTitle {
  from {
    opacity: 0.2;
    transform: translateY(85px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.singup-input {
  width: 95%;
  height: 33px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: #d9dfcc;
  opacity: 0.6;
  color: black;
  transition: 0.15s ease-in-out box-shadow;
  animation-name: slideinTopTitle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinTopTitle {
  from {
    opacity: 0.2;
    transform: translateY(92px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.singup-input:focus,
.singup-input:hover {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

/* FOOTER BUTTONS */
.footer {
  position: fixed;
  bottom: 13%;
  left: 63%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 210%;
}

.footer router-link {
  font-size: 15px;
  border: none;
  background: #435739;
  cursor: pointer;
}

.prev {
  padding-left: 14px;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 15px;
}

.prev,
.next {
  width: 90px;
  height: 50px;
  color: #f2f4ec;
  background-color: #435739;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  animation-name: slideinTopButton;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinTopButton {
  from {
    opacity: 0.2;
    transform: translateY(130px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prev:hover,
.next:hover {
  background-color: #f2f4ec;
  border: 1px solid #435739;
  color: #435739;
}

.next {
  background-color: #435739;
  color: #f2f4ec;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.disabled-btn {
  background-color: #b6b7b2;
  color: #f2f4ec;
  cursor: not-allowed;
  pointer-events: none;
  cursor: not-allowed;
}

.prev:active,
.next:active {
  opacity: 0.8;
}

@media (max-width: 1385px) {
  .triangle-green {
    margin-left: -29%;
    margin-top: -18%;
  }

  .triangle-light-green {
    margin-top: -4%;
    margin-left: -27%;
  }

  .footer {
    bottom: 11%;
    left: 60%;
  }
}

@media (max-width: 1264px) {
  img {
    display: none;
  }

  .triangle-fixed {
    position: fixed;
    top: -65%;
    left: 16%;
    width: 880px;
    transform: none;
    z-index: 0;
    pointer-events: none;
    transform: rotate(200deg);
  }

  /*   .triangle-light-green {
    position: absolute;
    top: -80%;
    left: 10%;
    animation: slideinLeft 1s ease-in-out forwards;
  }

  .triangle-green {
    position: absolute;
    left: 16%;
    top: 90%;
    animation: slideinLeft 1s ease-in-out forwards;
  } */

  .signup-container {
    position: fixed;
    top: 45%;
    left: 47%;
    transform: translate(-50%, -50%);
    scale: 0.8;
  }

  .footer {
    position: fixed;
    bottom: 12%;
    left: 38%;
    scale: 0.8;
    transform: translateX(-50%);
  }
}

@media (max-width: 1099px) {
  .triangle-fixed {
    position: fixed;
    top: -65%;
    left: 10%;
    width: 880px;
    transform: none;
    z-index: 0;
    pointer-events: none;
    transform: rotate(200deg);
  }

  .footer {
    position: fixed;
    bottom: 14%;
    left: 34%;
    scale: 0.8;
    transform: translateX(-50%);
  }
}

@media (max-width: 881px) {
  .triangle-fixed {
    position: fixed;
    top: -65%;
    left: 1%;
    width: 880px;
    transform: none;
    z-index: 0;
    pointer-events: none;
    transform: rotate(200deg);
  }
}

@media (max-width: 772px) {
  .triangle-fixed {
    position: fixed;
    top: -60%;
    left: -10%;
    width: 880px;
    scale: 0.8;
    transform: none;
    z-index: 0;
    pointer-events: none;
    transform: rotate(200deg);
  }
  .footer {
    position: fixed;
    bottom: 14%;
    left: 33%;
    transform: translateX(-50%);
  }
}

@media (max-width: 596px) {
  .triangle-fixed {
    position: fixed;
    top: -65%;
    left: -48%;
    width: 880px;
    scale: 0.8;
    transform: none;
    z-index: 0;
    pointer-events: none;
    transform: rotate(200deg);
  }

  .signup-container {
    position: fixed;
    top: 37%;
    left: 31%;
    scale: 0.7;
    transform: translate(-50%, -50%);
  }

  .footer {
    position: fixed;
    bottom: 22%;
    left: 20%;
    column-gap: 175%;
    transform: translateX(-50%);
  }
}
